@model Project5.Models.User

@{
    ViewBag.Title = "User Details";
}

<style>
    .user-details-heading {
        background-color: #007bff; /* Example background color */
        color: white; /* Text color */
        padding: 10px 0;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .user-details-container {
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        background-color: #f8f9fa;
        padding: 20px;
        margin-top: 20px;
    }

        .user-details-container th {
            width: 30%;
        }

        .user-details-container td {
            width: 70%;
        }

    .btn-custom {
        width: auto; /* Adjust as necessary, auto will make it as wide as the text + padding */
        display: block; /* Makes it a block element */
        margin: 10px auto; /* Centers the button */
    }
</style>

<div class="container">
    <h2 class="user-details-heading text-center">USER DETAILS</h2>
    <div class="user-details-container">
        <table class="table">
            <tbody>
                <tr>
                    <th>Name:</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th>Date of Birth:</th>
                    <td>@Html.DisplayFor(model => model.DOB, "{0:yyyy-MM-dd}")</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@Html.DisplayFor(model => model.Email)</td>
                </tr>
                <tr>
                    <th>Contact Number:</th>
                    <td>@Html.DisplayFor(model => model.PhoneNumber)</td>
                </tr>
                <tr>
                    <th>Address:</th>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
            </tbody>
        </table>

        @if (User.Identity.Name == Model.Email)
        {
            <a href="@Url.Action("Edit", "Users", new { id = Model.UserId })" class="btn btn-primary btn-custom">Update Profile</a>
        }

        @if (User.IsInRole("Librarian") || User.IsInRole("Manager"))
        {
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary btn-custom" })
        }
    </div>
</div>
