@model Project5.Models.Borrowing

@{
    ViewBag.Title = "Details";
}
<style>

    .btn-custom {
        display: inline-block;
        margin: 0 5px; /* Spacing between buttons */
    }
</style>

<h2>Details</h2>

<table class="table table-bordered">
    <tr>
        <th>Title</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.Book.Title)</td>
    </tr>
    <tr>
        <th>Name</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.User.Name)</td>
    </tr>
    <tr>
        <th>Borrow Date</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.BorrowDate)</td>
    </tr>
    <tr>
        <th>Expected Return Date</th>
    </tr>
    <tr>
        <td>@Html.DisplayFor(model => model.ReturnDate)</td>
    </tr>
</table>
<p>

    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-info btn-custom" })
</p>
@if (User.IsInRole("Librarian") || User.IsInRole("Manager"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.BorrowingId }, new { @class = "btn btn-info btn-custom" })
    </p>
}
