@model IEnumerable<Project5.Models.Borrowing>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Info"] != null)
{
    <div class="alert alert-info">@TempData["Info"]</div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Book.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BorrowDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BorrowingId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BorrowingId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BorrowingId }) |
               
                    @Html.ActionLink("Return", "ReturnBook", new { id = item.BorrowingId })
                
            </td>
        </tr>
    }

</table>
